<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../assets/resources/bna.jpg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link navbaritems" href="http://www.bna.tn/">Bna.tn</a>
          </li>
        <div class="border">
        </div>
        <li class="nav-item">
          <a class="nav-link navbaritems" href="http://www.bna.tn/site/fr/contact.php?id_article=190">Contact</a>
        </li>
        <div class="border">
        </div>
        <li class="nav-item">
          <a class="nav-link navbaritems">Suivez-nous :</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/BanqueNationaleAgricole/"><i class="bi bi-facebook"></i></a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/bna.bank/"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/company/bnabank/?originalSubdomain=tn"><i class="bi bi-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://x.com/BnaTunisie"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCri3iw1ovBzNb2ENb7XzQqg"><i class="bi bi-youtube"></i></a>
          </li>
      </ul>
      
    </div>
  </nav>
  