<h1 class="main-heading">Pôle Organisation et Systèmes d'Information</h1>

<div class="container-poste">
    <div class="position-info">
        <h2>Cadre au sein du Pôle Organisation et Systèmes d'Information (POSI 01)</h2>
        <p><strong>Nombre de poste :</strong></p>
    </div>
    <div class="diplomas">
        <h4><strong>Diplômes demandés :</strong></h4>
        <br>
        <ul>
            <li>Master en Management</li>
            <li>Master en Comptabilité</li>
            <li>Master en Finance</li>
            <li>Master en Marketing</li>
            <li>Master en Commerce</li>
            <li>Master en Techniques de Banque</li>
        </ul>
    </div>
</div>
