<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candidature Envoyée</title>
  <link rel="stylesheet" href="final.component.css">
</head>

<body>
  <main>
    <div class="confirmation">
      <div class="checkmark">
        &#10004;
      </div>
      <h1>Votre candidature a bien été envoyée !</h1>
      <p>
        Votre candidature pour le poste chez BNA Tunisia a bien été envoyée. 
        Vous recevrez sous peu une confirmation par e-mail.
      </p>
    </div>
  </main>

</body>
</html>
